.pending-ticket {
    color: orange;
}

.approved-ticket {
    color: green;
}

.denied-ticket {
    color: rgb(148, 13, 13);
}

.fin-title {
    color: purple;
}

#fin-nav-01, #fin-nav-02, #fin-nav-03 {
    color: purple;
}


#admin-nav {
    color: darkblue;
}

.gray {
    color: lightgray;
}

.test-box{
    border: 2px dashed lightslategray;
}

.test-box:hover{
    /* border: none; */
    background: rgba(189, 132, 255, 0.493);
}