.pending-ticket {
    color: orange;
}

.approved-ticket {
    color: green;
}

.denied-ticket {
    color: rgb(148, 13, 13);
}

#login-title {
    color: #002366;
}

.page-title {
    text-align: center;
}

.fin-title {
    color: #002366;
    text-align: center;
}

#fin-nav-01, #fin-nav-02, #fin-nav-03 {
    color: #002366;
}


#admin-nav {
    color: darkblue;
}

.gray {
    color: lightgray;
}

.test-box{
    border: 2px dashed lightslategray;
}

.test-box:hover{
    color: white;
    background: rgb(0,35,102, 0.5);
    cursor: pointer;
}

.btn-secondary {
    background-color: white;
    border-color: #002366;
    color: #002366;
}

.btn-secondary:hover {
    background-color: rgb(0,35,102, 0.5);
}

.jumbotron {
    max-height: 30px;
    padding-top: 2rem;
    margin-bottom: 1rem;
}
