.pending-ticket {
    color: orange;
}

.approved-ticket {
    color: green;
}

.denied-ticket {
    color: rgb(148, 13, 13);
}

.fin-title {
    color: purple;
}

#fin-nav-01, #fin-nav-02 {
    color: purple;
}


#admin-nav {
    color: darkblue;
}

.gray {
    color: lightgray;
}